-var path = '../';
-var head_url = 'https://roleva.iomp.online/hd-spec/confirm/';
-var head_title = 'УПС! Я не могу отправить рассылку на мастер-класс, тебе нужно подтвердить свою почту';
-var styles = path+'css/confirm.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var noref = true;
-var tk = true;
-var ah = true;

mixin b(cl, clb, href, p, target, id)
	.button-wrapper(class=cl)
		a.button(class=clb href!=href target=target id=id)=p
mixin gt(cl, h3)
	h3.general-title(class=cl)!=h3
mixin imgs(cl, src, alt)
	img(class=cl src=path+src alt=alt)


doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/base/1-header
			section#main
				.container
					.circle.circle-blue.circle-main-1
					.circle.circle-bordered.circle-main-2
					.content
						h1.main-title
							span УПС!
							br
							| Я НЕ МОГУ ОТПРАВИТЬ ССЫЛКУ НА 
							span МАСТЕР-КЛАСС, 
							br
							| ТЕБЕ НУЖНО 
							span ПОДТВЕРДИТЬ СВОЮ ПОЧТУ.
						p.main-text Перейди в свою почту
						.posts
							a.post-link(href="https://mail.yandex.ru/" target="_blank")
								img.post-icon(src=path+"img/icons/yandex.png" alt="Яндекс")
							a.post-link(href="https://e.mail.ru/messages/inbox/" target="_blank")
								img.post-icon(src=path+"img/icons/mailru.png" alt="Mailru")
							a.post-link(href="https://mail.google.com/mail" target="_blank")
								img.post-icon(src=path+"img/icons/gmail.png" alt="Gmail")
							a.post-link(href="https://mail.yahoo.com/" target="_blank")
								img.post-icon(src=path+"img/icons/yahoo.png" alt="Yahoo")
						h2.main-subtitle Не нашли письмо? Проверьте папку 
							span промоакции, оповещения или спам
		include pug/base/2-footer
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts